<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<body>
  
	  	<div id="formLogin">
        
            <form method="post" v-on:submit="submitLogin"> <!-- @submit:prevent="submitLogin" seems not to properly work w/ post form submits -->
               <div class="formMessageError">{{msgErrorLogin}}</div>
               <div><input type="text" name="login" placeholder="login" /></div>
               <div><input type="password" name="password" placeholder="password" /></div>
               <div><button type="submit">Login</button></div>
            </form>
            
        </div>
  
	</body>

</html>